body,
html {
    padding: 0;
    margin: 0
}

@font-face {
    font-family: 'Open Sans';
    src: url('./aflfont.TTF') format('truetype');
}

@font-face {
    font-family: 'DiaDeVida';
    src: url('./Rough\ Riders\ Redux\ W00\ Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ano';
    src: url('./Via\ Appia.ttf') format('truetype');
}

body {
    background-color: #161616;
    font-family: 'Microsoft JhengHei', sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Ano';
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url(./tumblr_ljtk59tsrG1qad4ino1_r2_500.gif); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;




}

#text {
    background-color: rgba(22, 22, 22, 0.6);
    padding: 0px 0px;
    margin: 0px 0px;
    color: #c8c8c8;
    font-size: 100px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    pointer-events: none;
    height: 100%;
    z-index: 100;
}

hr {
    margin: 5px;
}

#text>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;

}

.parts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#date_div,
.data_div {
    margin: 0px;
    text-align: center;
    margin-bottom: 35px;


}



#mes {
    color: burlywood;

}

#ano {
    color: whitesmoke;
    margin: 0px;
    text-align: center;
    font-family: 'Ano';

}

#dia {
    color: cyan;

}

.mask {
    display: block;
    width: 530px;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;

}

.mask>.p {
    width: 100%;
    height: 100%;
    transition: max-width 1s linear;
    opacity: 1;
    border-radius: 50%;
    /*border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%; */

}

#time .mask,
#date .mask {
    height: 14px;
    margin-top: 5px;

    border-radius: 50%;
    border-style: inset;
    border-color: #cd9519 !important;


}

#time {
    margin-top: 40px;
}

.segundos {
    color: #e2f1ec;
}

.minutos {
    color: #bbf3df;
}

.horas {
    color: #00ffa5;
}

.mask#year {
    border-color: #a83939
}

.mask#year>.p {
    background-color: #a83939
}

.mask#month {
    border-color: #a918c9
}

.mask#month>.p {
    background-color: #a918c9
}

.mask#d {
    border-color: #cd9519
}

.mask#d>.p {
    background-color: #cd9519
}

.mask#m {
    border-color: #23a034
}

.mask#m>.p {
    background-color: #23a034
}

.mask#h {
    border-color: #2c80a1
}

.mask#h>.p {
    background-color: #2c80a1
}

#friend_div {
    color: #b09427;
    position: absolute;

    left: 220px;
    top: 170px;
    /* font-family: 'DiaDeVida'; */
}

.bg_video {
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0;
    top: 0;


    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 100%;

}

/* BUTTON   */
.bi {
    color: #b09427;
    text-align: center;
}

.bi2 {
    color: red;
    text-align: center;
}

.dia {
    position: absolute;
    display: inline-block;
    padding: 0px 10px;
    color: cyan;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;

    font-size: 100px;
    overflow: hidden;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10%;


    border: none;


    right: 330px;
    top: 180px;
}

.neon {
    position: absolute;
    display: inline-block;
    padding: 0px 10px;
    color: cyan;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;

    font-size: 10px;
    overflow: hidden;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10%;


    border: none;


    right: 330px;
    top: 180px;
}



.neon:hover {

    box-shadow: 0 0 100px cyan, 0 0 40px cyan, 0 0 80px cyan;
    transition-delay: 0s;
}


.neon span {
    position: absolute;
    display: block;
}




.neon span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;

    height: 3px;
    background: linear-gradient(90deg, transparent, cyan);
}



.neon:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}


.neon span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(0deg, transparent, cyan);
}

.neon:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}



.neon span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, transparent, cyan);
}

.neon:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}



.neon span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, transparent, cyan);
}

.neon:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}


/* //////////////// BUTTON DIA /////////////////// */